<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="OrangeHRM_Suit" >	<!--we can use these parameter also## parallel="classes" thread-count="2" -->
    
   <!-- <listeners>
	    <listener class-name = "com.ExtentReportListener.ExtentReporterNG" />
    </listeners>
    -->
    
    <test name="OorangeHRM_Test">
     
         <classes>
                  <class name="orange.testcases.LoginPageTest"/>
                   <class name="orange.testcases.HomePageTest"/>
                  <class name="orange.testcases.AdminTabPageTest"/>
                    <class name="orange.testcases.PIMTabTest"/>
          </classes>
          
     </test> <!-- Test -->
</suite> <!-- Suite -->

<!-- This is also called as test runner file.
	You can also create multiple testng files as per the execution requirement. Example testng_sanity.xml, testng_regression.xml
	If you want to skip any Test class from the execution then you can just comment it out.
 -->